<h1>Projects#index</h1>

<p>
  Please select from the following active projects:

  <ul>

    <!--  ERB HERE TO GENERATE MENU -->

    </ul>
  </p>


<p>Find me in app/views/projects/index.html.erb</p>
