<h1>Projects</h1>

<p>
  Please select from the following active projects:

  <ul>
    
  <% @projects.each do |project| %>
    <li>
     <%= project.title %>
    </li>
    <% end %>
    
    </ul>
  </p>


<p>Find me in app/views/projects/index.html.erb</p>
